<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <%- include('../partials/head') %>
</head>

<body class="products">
    <nav>
        <%- include('../partials/cart') %>
    </nav>
    <main class="products">
        <h1>Products</h1>
        <div><a href="/products/new"><button>Add Product</button></a></div>
        <ul class="products">
            <% for (const product of products) { %>
            <li class="product">
                <a class="product_link" href="/products/<%= product._id %>">
                    <div class="product_img"><img class="product_img" src="<%= product.img %>"
                            alt="<%= product.name %>"></div>
                    <div class="product_name"><%= product.name %></div>
                </a>
                <div class="product_price">$<%= product.price %></div>
            </li>
            <% } %>
        </ul>
    </main>
</body>

</html>